In [1]:
from selenium import webdriver
from selenium.webdriver.edge.options import Options
import pandas as pd
from selenium.webdriver.common.by import By

import time
from datetime import datetime

In [2]:
options=Options()
options.add_experimental_option('detach',True)
driver=webdriver.Edge(options=options)
driver.get('https://finance.yahoo.com/quote/EURUSD%3DX/history/')

In [3]:
for i in range(2):
    time.sleep(5)
    setday=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/div/div/div[1]')
    setday.click()
    time.sleep(3)
    start_date=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[1]/input')
    start_date.send_keys('01042010')
    end_date=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[2]/input')
    end_date.send_keys('11032023')
    button=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[3]/button[1]')
    button.click()
    time.sleep(3)
    apply=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button')
    apply.click()

In [4]:
time.sleep(3)
number_day=3484
while True:
    checker=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[1]')
    if len(checker)>=number_day:
        break
    bottom=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tfoot/tr')
    driver.execute_script("arguments[0].scrollIntoView(true);", bottom)
    time.sleep(2)

In [5]:
date=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[1]')
open=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[2]')
high=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[3]')
low=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[4]')
close=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[5]')
volume=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[7]')

data_len=len(date)
save={
    'time':[],
    'open':[],
    'high':[],
    'low':[],
    'close':[],
    'vol':[],
}
for day in range(data_len):
    numerical_form = datetime.strptime(date[day].text, '%b %d, %Y').strftime('%Y-%m-%d')
    save['time'].append(numerical_form)
    save['open'].append(open[day].text)
    save['high'].append(high[day].text)
    save['low'].append(low[day].text)
    save['close'].append(close[day].text)
    save['vol'].append(volume[day].text)
df=pd.DataFrame(save)

In [6]:
df.to_csv('euro_dollar_exchange.csv', index=False)

In [7]:
df

            time    open    high     low   close vol
0     2023-11-03  1.0619  1.0737  1.0615  1.0619   -
1     2023-11-02  1.0587  1.0670  1.0584  1.0587   -
2     2023-11-01  1.0579  1.0581  1.0523  1.0579   -
3     2023-10-31  1.0615  1.0669  1.0568  1.0615   -
4     2023-10-30  1.0562  1.0626  1.0548  1.0562   -
...          ...     ...     ...     ...     ...  ..
3495  2010-06-10  1.2108  1.2152  1.2054  1.2114   -
3496  2010-06-09  1.1992  1.2142  1.1959  1.2109   -
3497  2010-06-08  1.1971  1.2073  1.1926  1.1992   -
3498  2010-06-07  1.1923  1.2009  1.1905  1.1972   -
3499  2010-06-06  1.1944  1.1989  1.1882  1.1923   -

[3500 rows x 6 columns]